@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 1rem;
}
main {
  width: 75%;
  margin: 2.8rem auto 1rem;
}
#first-card-component {
  background-color: hsl(31, 77%, 52%);
  padding:  2rem 1.5rem;
  border-radius: 5px 5px 0 0;
}
#second-card-component {
  background-color: hsl(184, 100%, 22%);
  padding: 2rem 1.5rem;

}
#third-card-component {
  background-color: hsl(179, 100%, 13%);
  padding: 2rem 1.5rem;
  border-radius: 0  0 5px 5px ;
}
h2{
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
  margin: 1rem 0 2rem;
}
main p {
  font-family: "Lexend Dec", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
}
 main a {
  background-color: hsl(0, 0%, 95%);
  padding: 0.7rem 1.7rem;
  border-radius: 35px;
  border: 2px solid hsl(0, 0%, 95%);
  display: inline-block;
} 
#first-card-component a:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}
#first-card-component a {
  color: hsl(31, 77%, 52%);
}
#second-card-component a {
  color: hsl(184, 100%, 22%);
}
#second-card-component a:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}
#third-card-component a {
  color: hsl(179, 100%, 13%);
}
#third-card-component a:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%) ;
}
@media screen and (min-width: 375px){
  body{
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #first-card-component {
    border-radius: 5px 0 0 5px;
  }
  #third-card-component {
    border-radius: 0 5px 5px 0;
  }
  main p {
    margin-bottom: 2.1rem;
  }

}